body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/images/wallpaper2you_147653.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}


.flip-card {
    background-color: transparent;
    width: 600px;
    height: 600px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 600px;
    height: 600px;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}


.flip-card-front, .flip-card-back {
    position: absolute;
    width: 600px;
    height: 600px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 3px solid red;
    border-radius: 10px;
}
.flip-card-front {
    background-color: #fff;
    color: black;
    width: 600px;
    height: 600px;
}

.flip-card-front img {
    width: 600px;
    height: 600px;
}

.flip-card-back {
    width: 600px;
    height: 600px;
    background-color: red;
    color: white;
    transform: rotateY(180deg);
    margin: 0 auto;
    padding: 10px;
}

.stats {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.stats div {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}